{include file="public/header" /}

<body>
<div class="x-body">
    <form class="layui-form" id="finCms-form">
        <input type="hidden" name="id" value="{$menu.menu_id}">
        <div class="layui-form-item">
            <label for="name" class="layui-form-label">
                <span class="x-red">*</span>菜单名称
            </label>
            <div class="layui-input-inline">
                <input type="text" id="name" name="name" required="" placeholder="请填写菜单名" lay-verify="required"
                       autocomplete="off" class="layui-input" value="{$menu.name}">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="m" class="layui-form-label">
                <span class="x-red">*</span>模块名
            </label>
            <div class="layui-input-inline">
                <input type="text" id="m" name="m" required="" placeholder="模块名如admin" lay-verify="required"
                       autocomplete="off" class="layui-input" value="{$menu.m}">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="c" class="layui-form-label">
                <span class="x-red">*</span>控制器名
            </label>
            <div class="layui-input-inline">
                <input type="text" id="c" name="c" placeholder="控制器名如index" required="" lay-verify="required"
                       autocomplete="off" class="layui-input" value="{$menu.c}">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="f" class="layui-form-label">
                <span class="x-red">*</span>方法名
            </label>
            <div class="layui-input-inline">
                <input type="text" id="f" name="f" placeholder="方法名如index" required="" lay-verify="required"
                       autocomplete="off" class="layui-input" value="{$menu.f}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label"><span class="x-red">*</span>菜单类型</label>
            <div class="layui-input-block">
                <input type="radio" name="type" lay-skin="primary" value="0" title="前端栏目" {if condition="$menu.type eq 1"}checked{/if} >
                <input type="radio" name="type" lay-skin="primary" value="1" title="后台菜单" {if condition="$menu.type eq 0"}checked{/if} >
            </div>
        </div>


        <div class="layui-form-item">
            <button id="finCms-form-edit" style="margin-left: 150px" type="button" class="layui-btn">
                提交
            </button>
        </div>
    </form>
</div>
<script>
    var SCOPE = {
//        'save_url' : '/admin/menu/save',
        'edit_url' : 'admin/menu/edit&id=',
        'jump_url' : '/admin/menu/index',
        'model' : 'menu'
    }
</script>
</body>

</html>