{include file="public/header" /}
<?php
  $navs = model("Menu")->getNavMenus();
foreach($navs as $item){
if($item['parentid'] === 0){
$level0[] = $item;
}
}

foreach($navs as $items){
foreach($level0 as $item){
if($items['parentid'] ===$item['id']  ){
$level1[] = $items;
}
}
}

?>
<body>
<div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="">首页</a>
        <a href="">后台菜单</a>
        <a>
          <cite>菜单管理</cite>
        </a>
      </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"
       href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i></a>
</div>
<div class="x-body">
    <div class="layui-row">
        <button class="layui-btn" lay-submit="" lay-filter="sreach" onclick="x_admin_show('添加','add')"><i
                class="layui-icon"></i>增加
        </button>
        <button class="layui-btn" id="button-listorder">更新排序
        </button>
    </div>

    <table class="layui-table layui-form">
        <thead>
        <tr>
            <th width="70">ID</th>
            <th>栏目名</th>
            <th width="50">排序</th>
            <th width="220">操作</th>
        </thead>
        <tbody class="x-cate" id="tabodyform">
        {volist name="level0" id="navs"}
        <tr cate-id='{$navs.id}' fid='0'>
            <td>{$navs.id}</td>
            <td>
                <i class="layui-icon x-show" status='true'>&#xe623;</i>
                {$navs.name}
            </td>
            <td><input type="text" class="layui-input x-sort" name="listorder[{$navs.id}]" value="{$navs.listorder}"></td>
            <td class="td-manage">
                <button class="layui-btn layui-btn layui-btn-xs"   attr-id="{$navs.id}" onclick="layer_edit('编辑','edit',this)"><i
                        class="layui-icon">&#xe642;</i>编辑
                </button>
                <button class="layui-btn layui-btn-warm layui-btn-xs" onclick="x_admin_show('添加','add')"><i
                        class="layui-icon">&#xe642;</i>添加子栏目
                </button>
                <button class="layui-btn-danger layui-btn layui-btn-xs" attr-id="{$navs.id}" onclick="CmsDelete(this)" href="javascript:;"><i class="layui-icon">&#xe640;</i>删除
                </button>
            </td>
        </tr>
        {volist name="level1" id="nav"}
        {if condition="$nav['parentid'] eq $navs['id']"}
        <tr cate-id='{$nav.id}' fid='{$nav.parentid}'>
            <td>{$nav.id}</td>
            <td>
                &nbsp;&nbsp;&nbsp;&nbsp;
                {$nav.name}
            </td>
            <td><input type="text" class="layui-input x-sort" name="listorder[{$nav.id}]" value="{$nav.listorder}"></td>
            <td>
                <input type="checkbox" name="switch" lay-text="开启|停用" checked="" lay-skin="switch">
            </td>
            <td class="td-manage">
                <button class="layui-btn layui-btn layui-btn-xs" onclick="layer_edit('编辑','edit',this)" attr-id="{$nav.id}"><i
                        class="layui-icon">&#xe642;</i>编辑
                </button>
                <button class="layui-btn layui-btn-warm layui-btn-xs" onclick="x_admin_show('添加','add')"><i
                        class="layui-icon">&#xe642;</i>添加子栏目
                </button>
                <button class="layui-btn-danger layui-btn layui-btn-xs" attr-id="{$nav.id}" onclick="CmsDelete(this)" href="javascript:;"><i class="layui-icon">&#xe640;</i>删除
                </button>
            </td>
        </tr>
        {/if}
        {/volist}
        {/volist}

        </tbody>

    </table>

</div>

<script>
    var SCOPE = {
        'edit_url':'/admin/menu/edit?id=',
        'model' : 'menu'
    }

</script>

</body>

</html>