{include file="public/header" /}

<body>
<div class="x-body">
    <form class="layui-form" id="finCms-form">
        <div class="layui-form-item">
            <label class="layui-form-label">权限节点</label>
            <div class="layui-input-inline">
                <select name="pid">
                    <option value="0">|-&#45;&#45;顶级权限&#45;&#45;</option>
                    {foreach $field as $vo}
                    <option value="{$vo['id']}">{$vo['title']}</option>
                    {/foreach}
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">菜单类型</label>
            <div class="layui-input-inline">
                <select name="level">
                    <option value="1">项目</option>
                    <option value="2">模块</option>
                    <option value="3">操作</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label for="title" class="layui-form-label">
                <span class="x-red">*</span>权限名称
            </label>
            <div class="layui-input-inline">
                <input type="text" id="title" name="title" required="" placeholder="请填写权限名" lay-verify="required"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="name" class="layui-form-label">
                <span class="x-red">*</span>权限标识
            </label>
            <div class="layui-input-inline">
                <input type="text" id="name" name="name" required="" placeholder="请填写权限标识" lay-verify="required"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="nav" class="layui-form-label">
                <span class="x-red">*</span>导航名称
            </label>
            <div class="layui-input-inline">
                <input type="text" id="nav" name="nav" placeholder="请填写导航名称" required="" lay-verify="required"
                       autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <button lay-submit lay-filter="lay-finCms-form" type="button" class="layui-btn">
                增加
            </button>
        </div>
    </form>
</div>
<script>
    var SCOPE = {
        'methodType' : 'add',
        'jump_url' : '',
        'model' : 'auth_rule'
    }
</script>
</body>

</html>