{include file="public/header" /}
<body>
<script src="__STATIC__/admin/js/kindeditor/kindeditor-all.js"></script>

<form class="layui-form" id="finCms-form">

    <div class="layui-form-item">
        <label class="layui-form-label">上级权限</label>
        <div class="layui-input-inline">
            <select name="pid">
                <option value="0">|---顶级权限--</option>
                {foreach $selectlist as $vo}
                <option value="{$vo.id}" {if condition="$vo['id'] eq $rule['id']"}selected{/if}>{$vo['title']}</option>
                {/foreach}
            </select>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">权限名</label>
        <div class="layui-input-block">
            <input type="text" name="title" value="{$rule.title}" required  lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input">
        </div>
    </div>


    <div class="layui-form-item">
        <label class="layui-form-label">权限标识</label>
        <div class="layui-input-block">
            <input type="text" name="name" required value="{$rule.name}"  lay-verify="required" placeholder="请填写权限标识" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">导航名称</label>
        <div class="layui-input-block">
            <input type="text" name="nav" placeholder="请填写导航名称" value="{$rule.nav}" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="lay-finCms-form">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>

</body>
<script>
    var SCOPE={
        'model':'auth_rule'
    }

</script>
